*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primaryCyan: #26baa4;
    --primaryBlue: #6173ff;
    --secondaryDark: #33393f;
    --secondaryLight: #9fabb2;
    --font-family: Bai Jamjuree;
}

body{
    background-color: white;
    font-family: var(--font-family);
}

.heading{
    color: var(--secondaryDark);
}

p{
    color: var(--secondaryLight);
    font-weight: 500;
}

a{
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}

button{
    padding: 6px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    color: white;
    font-size: 11px;
    font-family: var(--font-family);
    transition: opacity 0.2s linear;
}

button:active{
    opacity: 70%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.container.header{
    background-image: url(image/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

.logoSection{
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.logo{
    width: 100%;
}

.para{
    font-size: 15px;
    max-width: 400px;
    text-align: center;
    margin: 10px 0px 20px 0px;
}

.downloadIOS{
    margin-right: 20px;
    background-color: var(--primaryCyan);
    border-bottom: 2px solid #219f8c;
    box-shadow: 0 4px 8px #219f8c74;
}

.downloadMac{
    margin-right: 20px;
    background-color: var(--primaryBlue);
    border-bottom: 2px solid #4157fa;
    box-shadow: 0 4px 8px #4157fa71;
}

.subcontainer.track{
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
}

.laptopLogo{
    position: relative;
    left: -50px;
    width: 60%;
    float: left;
}

.content.track{
    width: 20%;
    margin-left: 30px;
}

.subcontent{
    margin-bottom: 40px;
}

.paraTrack{
    font-size: 13px;
    margin-top: 5px;
    line-height: 20px;
}

.devicesLogo{
    width: 90%;
}

.subcontainer.supercharge{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.content.supercharge{
    font-size: 13px;
    width: 25%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.superchargeLogo{
    margin-bottom: 30px;
}

.paraSupercharge{
    margin-top: 10px;
    line-height: 20px;
}

.container.media{
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: center;
}

.imageSection{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mediaLogo{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.container.clipboard{
    padding-bottom: 100px;
}

.downloadButtons{
    margin-top: 10px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(230, 230, 230, 0.393);
    padding-top: 20px;
}

.footerLogo{
    width: 40px;
}

.helpSection{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    width: 40%;
}

.help{
    color: var(--secondaryDark);
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 15px;
}

.socialMediaSection{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    width: 30%;
}

.socialMedia{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.socialMediaLogo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width:415px) {
    .container{
        padding: 50px 30px 30px 30px;
    }
    
    .heading{
        text-align: center;
        margin-bottom: 10px;
    }

    .container.header{
        min-height: 0;
        background-image: url(image/bg-header-mobile.png);
    }
        
    .para.history, .para.track, .para.access, .paraTrack{
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }
    
    .downloadButtons{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 90%;
    }    

    .downloadIOS, .downloadMac{
        width: 100%;
        padding: 10px 0px;
    }

    .subcontainer.track{
        flex-direction: column;
    }

    .laptopLogo, .devicesLogo{
        width: 100%;
        left: 0;
        margin-bottom: 40px;
    }

    .content.track{
        width: 100%;
        margin-left: 0;
    }

    .subcontainer.supercharge{
        flex-direction: column;
    }

    .content.supercharge{
        width: 100%;
    }

    .container.media{
        flex-direction: column;
    }

    .imageSection{
        width: 40%;
    }
    
    footer{
        flex-direction: column;
        gap: 30px;
    }

    .helpSection{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .socialMediaSection{
        margin-bottom: 30px;
    }
}